<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scau.shop.mapper.AdminMapper">

    <insert id="addProduct" keyProperty="id" useGeneratedKeys="true">
        insert into t_product( category_id, item_type, title, sell_point, price, num, image, status, priority
                             , created_time, modified_time)
        values ( #{categoryId}, #{itemType}, #{title}, #{sellPoint}, #{price}, #{num}, #{image}, #{status}
               , #{priority}, #{createdTime}, #{modifiedTime})
    </insert>
</mapper>